MYSQL_DATABASE=php_backend_db
MYSQL_USER=php_backend_db
MYSQL_PASSWORD=php_backend_db
MYSQL_HOST_PORT=3310

MYSQL_DATABASE_TEST=php_backend_db_test
MYSQL_USER_TEST=php_backend_db_test
MYSQL_PASSWORD_TEST=php_backend_db_test
MYSQL_HOST_PORT_TEST=3311

MYSQL_ROOT_PASSWORD=root

PHP_FPM_INSTALL_XDEBUG=true

NGINX_HOST_HTTP_PORT=1027
NGINX_HOST_HTTPS_PORT=3443
NGINX_CONFIG=./nginx/conf
NGINX_CERT=./nginx/cert
